<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>PaoDou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/base64.css">
    <link rel="stylesheet" type="text/css" href="../lib/css/anicollection.css">
  </head>
  <body>
    <div id="PaoDou">
      <div class="PaoDou-wrapper">
        <div class="PaoDou-container">
          <div id="basic-info">
            <div class="opponent player">
              <div class="opponent-wrapper player-wrapper">
                <div class="opponent-container player-container">
                  <div class="left-part info-field">
                    <div class="top-field">
                      <div class="left-part">
                        <div class="name-field">
                          <p class="name">叶嘉祺</p>
                        </div>
                      </div>
                      <div class="right-part">
                        <div class="LV-field font-number-word hide">
                          <p>Lv.36</p>
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="down-field">
                      <div class="HP-field">
                        <div class="HP-background-field">
                          <div class="inner-bar"></div>
                        </div>
                        <div class="HP-data-field font-number-word">
                          <span class="current-HP">259</span>
                          <span class="symbol">/</span>
                          <span class="max-HP">263</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="left-part img-field">
                    <div class="avater-field">
                      <div class="avater animated"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
            <div class="msg-field">
              <ul class="msg-list">
              </ul>
            </div>
            <div class="self player">
              <div class="self-wrapper player-wrapper">
                <div class="self-container player-container">
                  <div class="right-part info-field">
                    <div class="top-field">
                      <div class="left-part">
                        <div class="name-field">
                          <p class="name">吴家荣</p>
                        </div>
                      </div>
                      <div class="right-part">
                        <div class="LV-field font-number-word hide">
                          <p>Lv.36</p>
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="down-field">
                      <div class="HP-field">
                        <div class="HP-background-field">
                          <div class="inner-bar"></div>
                        </div>
                        <div class="HP-data-field font-number-word">
                          <span class="current-HP">259</span>
                          <span class="symbol">/</span>
                          <span class="max-HP">263</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="right-part img-field">
                    <div class="avater-field">
                      <div class="avater animated"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
          <div id="popup">
            <div id="cover-field">
              <div class="cover"></div>
            </div>
            <div class="all-content">
              <div class="window total-center">
                <div class="window-wrapper">
                  <div class="window-container">
                    <div class="icon-field">
                      <div class="icon"></div>
                    </div>
                    <div class="content-field success">
                      <div class="top"></div>
                      <div class="bottom"></div>
                    </div>
                    <div class="btn-field">
                      <a href="#"><div class="cancel-btn">退出</div></a>
                      <div class="share-btn">分享</div>
                      <div class="clear"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="share" class="hide">
                <div class="share-wrapper">
                  <div class="share-container">
                    <div class="share-field">
                      <div class="share">
                        <a href="#"><div class="icon icon-wx"></div></a>
                        <a href="#"><div class="icon icon-qq"></div></a>
                        <a href="#"><div class="icon icon-sina"></div></a>
                        <div class="clear">
                      </div>
                    </div>
                    <div class="exit-field">
                      <a href="#"><div class="cancel-btn">退出</div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">document.addEventListener("touchstart", function(){}, true)</script>
    <script src="../lib/js/util.js" type="text/javascript"></script>
    <script src="../lib/js/jquery.min.js" type="text/javascript"></script>
    <script src="../lib/js/anijs.min.js" type="text/javascript"></script>
    <script src="../public/js/player.js" type="text/javascript"></script>
    <script src="../public/js/msg.js" type="text/javascript"></script>
    <script src="../public/js/driver.js" type="text/javascript"></script>
    <script src="../public/js/main.js" type="text/javascript"></script>
  </body>
</html>